#quote-box{
    /* position: relative;
    display: flex;
    justify-content: center;   */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    width: 40%;
    margin-left: 30%;
}

#quote-box .card {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  }

  #new-quote{
    display: flex;
    margin-left: 70%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    
  }

  #tweet-quote a{
    text-decoration: none;
    color: white;
  }

  #tweet-quote{
    display: flex;
    background-color: #00acee; /* Green */
    margin-left: 10%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  }